 
        h1{
            color:#ffffff;
            background-color: black;
        }

        h3{
            color:#0000ff;
        }
        h2{
            color:#ffff00;
            background-color: black;
        }

        button{
            color:#ffffff;
            background-color: #06bdff;
        }